body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.ui.ratingbar:not(:checked) > input {
  position: absolute;
  visibility: hidden;
}

.ui.ratingbar:not(:checked) > label {
  cursor: pointer;
  font-size: var(--rating-font-size);
  color: var(--rating-inactive-color);
}

.ui.ratingbar:not(:checked) > label:before {
  content: "★ ";
}

.ui.ratingbar:not(:checked) > label:hover,
.ui.ratingbar:not(:checked) > label:hover ~ label,
.ui.ratingbar > input:checked ~ label {
  color: var(--rating-active-color);
}

img {
  max-width: 100%;
  height: auto;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button {
  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
  color: inherit;
}
input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
