{% extends "base.html" %}
{% load static %}

{% block title %}Home - Rewindify{% endblock %}

{% block content %}
<!-- Display success message for non-authenticated users -->
{% if not user.is_authenticated %}
{#    {% if messages %}#}
{#        <div class="alert alert-success alert-dismissible fade show" role="alert">#}
{#            {% for message in messages %}#}
{#                <strong>{{ message }}</strong>#}
{#            {% endfor %}#}
{#            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="jumbotron bg-info text-white text-center">
            <h1 class="display-4 text-primary" data-value="Rewindify">Rewindify</h1>
            <p class="lead text-warning">Hear the past, Listen for the future</p>
            <hr class="my-4">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <img src="{% static 'myappp/images/spotify.png' %}" alt="Spotify Logo" style="height: 30px; margin-right: 10px;">
                <a href="https://www.spotify.com" class="btn btn-success" style="color: white; margin: 5px; padding: 5px; height: 30px; display: flex; align-items: center; text-decoration: none;">A Spotify Wrapped App</a>
            </div>

            <div class="d-flex justify-content-center">
                <a href="{% url 'login' %}" class="btn btn-primary mx-2">Sign In</a>
                <a href="{% url 'signup' %}" class="btn btn-secondary mx-2">Sign Up</a>
            </div>
        </div>
    </div>
{% else %}
<!-- Content for authenticated users -->
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="jumbotron bg-info text-white text-center">
        <p class="display-4 text-primary">Welcome, {{ user.username }}!</p>
        <p class="lead text-warning">We're glad to have you back on Rewindify!</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <a href="{% url 'password_change' %}" class="btn btn-warning mx-2">Change Password</a>
            <a href="{% url 'loginn' %}" class="btn btn-success mx-2" style="background-color: hotpink;">Generate Your Wrapped</a>
{#            <a href="{% url 'wrap_post' %}" class="btn btn-success mx-2" style="background-color: blue;">Post Your Wrap</a>#}
            <a href="{% url 'song_guessing_game' %}" class="btn btn-info mx-2" style="background-color: orange; color: white;">Play Game</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'delete' %}" class="btn btn-purple mx-2" style="background-color: purple; color: white;">Delete Account</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mx-2">Log Out</button>
            </form>
            <a href="{% url 'past_wraps' %}" class="btn btn-green mx-2" style="background-color: green; color: white;">View Past Wraps</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'contact' %}" class="btn btn-purple mx-2" style="background-color: mediumseagreen; color: white;">Contact the Developers</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
